<main>
  <section class="welcome-section">
    <% if (locals.currentUser) { %>
      <h1>Welcome back, <%= currentUser.first_name %>.</h1>
      <% if (locals.currentUser.is_member) { %>
        <p>You are a member!</p>
      <% } else { %>
        <p>You are not a member. <a href="/membership/member">Become one today.</a></p>
      <% } %>
      <% if (locals.currentUser.is_admin) { %>
        <p>You are an admin!</p>
      <% } else { %>
        <p>You are not an admin. <a href="/membership/admin">Do you have what it takes to be one today?</a></p>
      <% } %>
      <a href="/messages/create">Create a new message</a>
      <a href="/log-out">Log Out</a>
    <% } else { %>
      <h1>Welcome to the homepage.</h1>
      <a href="/log-in">Log In</a>
      <a href="/sign-up">Sign up</a>
    <% } %>
  </section>
  <section class="messages-section">
    <h2>Messages</h2>
    <% if (messages.length > 0) { %>
      <% messages.forEach((message) => { %>
        <article class="message">
          <header class="message-header">
            <p class="username"><%= locals.currentUser?.is_member || (locals.currentUser?.id === message.author) ? message.authorName : "anonymous" %></p>
            <p><%= locals.currentUser?.is_member || (locals.currentUser?.id === message.author) ? message.timestamp : "when it was written..." %></p>
            <% if (locals.currentUser?.is_admin) { %>
              <button class="delete-button" data-id="<%= message.id %>">Delete</a>
            <% } %>
          </header>
          <h3><%= message.title %></h3>
          <p><%= message.text %></p>
        </article>
      <% }) %>
    <% } else { %>
      <p>There are currently no messages.</p>
    <% } %>
  </section>
  <section class="delete-confirmation-section hidden">
    <form method="POST" class="delete-confirmation-form">
      <h1>Are you sure?</h1>
      <p>Deleting is PERMANENT, so be careful before deleting!</p>
      <section>
        <button type="button" class="form-cancel-button">Cancel</button>
        <button type="submit" class="form-delete-button">Delete</button>
      </section>
    </form>
  </section>
</main>