<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <section class="sign-up-section">
    <form action="/sign-up" method="POST" novalidate>
      <h1>Sign Up</h1>
      <p>Required fields are followed by a <strong><span aria-label="required" class="required">*</span></strong></p>
      <section>
        <p>
          <label for="first_name">First Name <strong><span aria-label="required" class="required">*</span></strong></label>
          <input type="text" id="first_name" name="first_name" maxlength="64" value="<%= locals.previousValues?.first_name %>" required>
          <span class="error" role="alert" aria-live="polite">
            <%= locals.errors?.find(error => error.path === 'first_name')?.msg %>
          </span>
        </p>
        <p>
          <label for="last_name">Last Name <strong><span aria-label="required" class="required">*</span></strong></label>
          <input type="text" id="last_name" name="last_name" maxlength="64" value="<%= locals.previousValues?.last_name %>" required>
          <span class="error" role="alert" aria-live="polite">
            <%= locals.errors?.find(error => error.path === 'last_name')?.msg %>
          </span>
        </p>
        <p>
          <label for="email">Email <strong><span aria-label="required" class="required">*</span></strong></label>
          <input type="email" id="email" name="email" maxlength="255" value="<%= locals.previousValues?.email %>" required>
          <span class="error" role="alert" aria-live="polite">
            <%= locals.errors?.find(error => error.path === 'email')?.msg %>
          </span>
        </p>
        <p>
          <label for="password">Password</label>
          <input type="password" id="password" name="password" maxlength="255" value="<%= locals.previousValues?.last_name %>" required>
          <span class="error" role="alert" aria-live="polite">
            <%= locals.errors?.find(error => error.path === 'password')?.msg %>
          </span>
        </p>
      </section>
      <section>
        <button type="submit">Sign up</button>
      </section>
    </form>
  </section>
</body>
</html>